### The purpose of this notebook is to showcase how to do association rule mining

* we will need to install mlxtend:
 - conda install -c conda-forge mlxtend

In [45]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import association_rules
from mlxtend.frequent_patterns import fpgrowth

In [46]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math
from datetime import datetime, timedelta
import collections

 - first, prepare the data

In [47]:
from math import floor
def prep_data(filename, dropna,datecol):
    baskets = pd.read_csv(filename, parse_dates = [datecol])
    if dropna:
        baskets.dropna(inplace=True)
    for s in baskets.columns:
        if ("id" in s):
            baskets.loc[:,s] = pd.Categorical(baskets.loc[:,s].apply(lambda x: floor(x)))
    if datecol:
        baskets['date'] = baskets[datecol].dt.date
        baskets['year'] = baskets[datecol].dt.year
        baskets['month'] = baskets[datecol].dt.month
        baskets['day'] = baskets[datecol].dt.day
        baskets['hour'] = baskets[datecol].dt.hour
        baskets['weekday'] = baskets[datecol].dt.weekday
        baskets["spent"] = baskets["qty"] * baskets["price"]
    return baskets

def make_merchants(baskets):
    merchants = baskets.groupby(['merchant_id']).agg(
        total_spent = ('spent', 'sum'), 
        num_orders = ('order_id', 'nunique'), 
        num_days = ('date', 'nunique'), 
        num_skus = ('sku_id','nunique'), 
        num_top_cats = ('top_cat_id','nunique'), 
        num_sub_cats = ('sub_cat_id','nunique'),
    ).reset_index()
    merchants['avg_spent_per_order'] = merchants.total_spent / merchants.num_orders
    return merchants

def make_skus(baskets):
    skus_by_day = baskets.groupby(['sku_id','date']).agg(
        avg_price_by_day = ('price','mean'),
        num_order_by_day = ('order_id', 'nunique'), 
        num_merchants_by_day = ('merchant_id', 'nunique'),
    ).reset_index()
    return skus_by_day

def make_top_cats(baskets):
    top_cats = baskets.groupby(['top_cat_id']).agg(
        avg_price = ('price', 'mean'),
        total_spent = ('spent', 'sum'),
        total_quantity = ('qty' , 'sum'),
        num_orders = ('order_id', 'nunique'), 
        num_days = ('date' , 'nunique'),
        num_merchants = ('merchant_id', 'nunique')
    ).reset_index()
    return top_cats

In [48]:
dropna = True
datecol = 'placed_at'
filename = 'new_baskets_full.csv'

baskets = prep_data(filename, dropna,datecol)
merchants = make_merchants(baskets)
skus = make_skus(baskets)
top_cats = make_top_cats(baskets)

In [49]:
df = baskets
df.groupby('order_id').all()

,id,placed_at,merchant_id,sku_id,top_cat_id,sub_cat_id,qty,price,date,year,month,day,hour,weekday,spent
order_id,,,,,,,,,,,,,,,
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62044,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True
62045,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True
62046,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True
62047,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True
62048,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True

In [50]:
transaction_data = []
for groups in df.groupby('order_id').groups.values():
    transaction_data.append(list(df.loc[groups]['sku_id'].to_numpy()))

In [66]:
transaction_data[0]

[470,
 237,
 236,
 238,
 547,
 253,
 355,
 1354,
 281,
 425,
 204,
 1367,
 570,
 276,
 269,
 271,
 569,
 493,
 404,
 235,
 1558,
 1300,
 299,
 438,
 589,
 435,
 432,
 1545,
 460,
 1544,
 481,
 485,
 762,
 327,
 267,
 336,
 184,
 337,
 710,
 717,
 501,
 1577,
 1335,
 262]

In [52]:
def oneHotCoding(transaction_data):
    te = TransactionEncoder()
    te_ary = te.fit(transaction_data).transform(transaction_data)
    transaction_df = pd.DataFrame(te_ary, columns=te.columns_)
    return transaction_df

transaction_sku_data = oneHotCoding(transaction_data)

In [65]:
transaction_sku_data[1]

0        False
1        False
2        False
3        False
4        False
         ...
62042    False
62043    False
62044    False
62045    False
62046    False
Name: 1, Length: 62047, dtype: bool

In [54]:
def frq_sku_itemsets(data,suppVar):
    min_support = suppVar/data.shape[0]
    frequent_itemsets = fpgrowth(data, min_support=min_support, use_colnames=True)
    return frequent_itemsets

freq_itemsets = frq_sku_itemsets(transaction_sku_data,30)

In [55]:
freq_itemsets.head(50)

     support itemsets
0   0.120860    (327)
1   0.090077    (438)
2   0.059906    (276)
3   0.056054    (184)
4   0.055313    (432)
5   0.052476    (485)
6   0.051590    (336)
7   0.049463    (547)
8   0.042307    (337)
9   0.041549   (1300)
10  0.040663    (271)
11  0.037907    (425)
12  0.037053    (269)
13  0.032669    (267)
14  0.027721    (589)
15  0.027318    (435)
16  0.027254    (717)
17  0.025255    (237)
18  0.023901    (481)
19  0.023095    (355)
20  0.021451    (501)
21  0.019840    (253)
22  0.019292    (281)
23  0.017970    (204)
24  0.017616    (470)
25  0.016165    (238)
26  0.013232    (236)
27  0.012523    (460)
28  0.009025    (762)
29  0.008993    (262)
30  0.007655    (570)
31  0.006801   (1354)
32  0.005947    (710)
33  0.005738    (235)
34  0.004948   (1335)
35  0.004174    (493)
36  0.003965   (1558)
37  0.003755    (569)
38  0.003352    (299)
39  0.001692   (1545)
40  0.001467   (1367)
41  0.000935   (1577)
42  0.000741   (1544)
43  0.000645    (404)
44  0.000548    (102)
45  0.000500    (101)
46  0.000484    (149)
47  0.000484    (130)
48  0.001160    (155)
49  0.000532    (115)

In [56]:
# compute and print the association rules

def basket_rules(freq_itemsets,metrics,threshold):
    asso_rules = association_rules(freq_itemsets, metric=metrics, min_threshold=threshold)
    return asso_rules.sort_values(by='lift', ascending=False)[['antecedents', 'consequents', 'support', 'confidence', 'lift']]

fp_rules = basket_rules(freq_itemsets,"confidence",0.10)
fp_rules.head(60)

,antecedents,consequents,support,confidence,lift
884882,(1245),(1244),0.000564,0.564516,875.663306
884881,(1244),(1245),0.000564,0.875000,875.663306
872749,"(432, 858)","(859, 435)",0.000484,0.491803,726.545667
872746,"(859, 435)","(432, 858)",0.000484,0.714286,726.545667
872747,"(432, 859)","(858, 435)",0.000484,0.454545,705.079545
872748,"(858, 435)","(432, 859)",0.000484,0.750000,705.079545
884369,"(1105, 1107)",(1106),0.000548,0.944444,681.394703
884372,(1106),"(1105, 1107)",0.000548,0.395349,681.394703
881905,"(977, 978)","(976, 975)",0.000548,0.723404,669.926326
881904,"(976, 975)","(977, 978)",0.000548,0.507463,669.926326
881903,"(976, 978)","(977, 975)",0.000548,0.557377,665.068726
881906,"(977, 975)","(976, 978)",0.000548,0.653846,665.068726
881907,"(978, 975)","(976, 977)",0.000548,0.618182,618.650440
881902,"(976, 977)","(978, 975)",0.000548,0.548387,618.650440
885755,(1403),(1402),0.000612,0.475000,614.006771
885754,(1402),(1403),0.000612,0.791667,614.006771
884370,"(1106, 1107)",(1105),0.000548,0.739130,595.595144
884371,(1105),"(1106, 1107)",0.000548,0.441558,595.595144
873694,"(857, 858, 996)","(859, 223)",0.000500,0.543860,571.946774
873713,"(859, 223)","(857, 858, 996)",0.000500,0.525424,571.946774
885757,(1438),(1403),0.000532,0.717391,556.399728
885756,(1403),(1438),0.000532,0.412500,556.399728
884885,(1229),(1230),0.000741,0.464646,533.887392
884886,(1230),(1229),0.000741,0.851852,533.887392
881908,(976),"(977, 978, 975)",0.000548,0.306306,527.927427
881901,"(977, 978, 975)",(976),0.000548,0.944444,527.927427
881900,"(976, 978, 975)",(977),0.000548,0.739130,509.564734
881909,(977),"(976, 978, 975)",0.000548,0.377778,509.564734
881882,"(977, 975)",(976),0.000741,0.884615,494.484061
881883,(976),"(977, 975)",0.000741,0.414414,494.484061
881895,(976),"(977, 978)",0.000661,0.369369,487.622580
881894,"(977, 978)",(976),0.000661,0.872340,487.622580
884368,"(1105, 1106)",(1107),0.000548,0.790698,485.746719
884373,(1107),"(1105, 1106)",0.000548,0.336634,485.746719
873704,"(857, 996)","(858, 859, 223)",0.000500,0.322917,477.047867
873703,"(858, 859, 223)","(857, 996)",0.000500,0.738095,477.047867
881881,"(976, 975)",(977),0.000741,0.686567,473.327032
881884,(977),"(976, 975)",0.000741,0.511111,473.327032
881918,"(978, 975)",(976),0.000741,0.836364,467.512203
881919,(976),"(978, 975)",0.000741,0.414414,467.512203
883837,"(435, 1558)","(432, 1557)",0.000532,0.515625,463.666440
883834,"(432, 1557)","(435, 1558)",0.000532,0.478261,463.666440
881893,"(976, 978)",(977),0.000661,0.672131,463.374681
881896,(977),"(976, 978)",0.000661,0.455556,463.374681
873648,"(857, 247)","(858, 223)",0.000580,0.450000,457.723770
873651,"(858, 223)","(857, 247)",0.000580,0.590164,457.723770
881889,(977),"(978, 975)",0.000580,0.400000,451.250909
881888,"(978, 975)",(977),0.000580,0.654545,451.250909
873695,"(857, 859, 996)","(858, 223)",0.000500,0.442857,450.458314
873712,"(858, 223)","(857, 859, 996)",0.000500,0.508197,450.458314
754608,"(473, 236, 438)","(202, 269, 237, 327)",0.000484,0.500000,443.192857
754547,"(202, 269, 237, 327)","(473, 236, 438)",0.000484,0.428571,443.192857
881911,(975),"(976, 977, 978)",0.000548,0.290598,439.774442
881898,"(976, 977, 978)",(975),0.000548,0.829268,439.774442
626805,"(477, 237, 269, 238)","(474, 236, 271)",0.000484,0.400000,427.910345
626830,"(474, 236, 271)","(477, 237, 269, 238)",0.000484,0.517241,427.910345
649674,"(202, 269, 237, 327)","(474, 236, 438)",0.000516,0.457143,423.348401
649735,"(474, 236, 438)","(202, 269, 237, 327)",0.000516,0.477612,423.348401
873659,"(857, 247)","(859, 223)",0.000516,0.400000,420.657627
873664,"(859, 223)","(857, 247)",0.000516,0.542373,420.657627

In [57]:
fp_rules

       antecedents consequents   support  confidence        lift
884882      (1245)      (1244)  0.000564    0.564516  875.663306
884881      (1244)      (1245)  0.000564    0.875000  875.663306
872749  (432, 858)  (859, 435)  0.000484    0.491803  726.545667
872746  (859, 435)  (432, 858)  0.000484    0.714286  726.545667
872747  (432, 859)  (858, 435)  0.000484    0.454545  705.079545
...            ...         ...       ...         ...         ...
683866       (283)       (327)  0.000967    0.111524    0.922755
683868  (282, 283)       (327)  0.000532    0.104762    0.866804
866618       (626)       (327)  0.000580    0.104651    0.865888
793910  (419, 420)       (327)  0.001451    0.103093    0.852993
793902       (420)       (327)  0.002208    0.102545    0.848460

[885767 rows x 5 columns]

In [58]:
def predict(antecedent, rules, max_results= 6):
    
    # get the rules for this antecedent
    preds = rules[rules['antecedents'] == antecedent]
    
    # a way to convert a frozen set with one element to string
    preds = preds['consequents'].apply(iter).apply(next)
    
    return preds[:max_results]

In [67]:
preds = predict({859, 435}, fp_rules)
preds

872746    432
872739    858
872384    432
Name: consequents, dtype: int64

In [60]:
fp_rules.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 885767 entries, 884882 to 793902
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   antecedents  885767 non-null  object
 1   consequents  885767 non-null  object
 2   support      885767 non-null  float64
 3   confidence   885767 non-null  float64
 4   lift         885767 non-null  float64
dtypes: float64(3), object(2)
memory usage: 40.5+ MB